/* main.css */
@import url(http://fonts.googleapis.com/css?family=Bad+Script|Oxygen+Mono);
*{ padding:0; margin:0;  transition: color 1.2s, opacity 2s; font-weight: normal}
body { font-family: 'Oxygen Mono', Arial, Tahoma, Verdana; font-size: 11px; }
h1, h3, p {text-align: center;}
h1 {font-family: 'Bad Script', cursive; font-size: 110px; margin:-20px 0 -30px 0;font-weight: normal;color:#F60}
h1:hover { color:#039}
h1 span {font-size:20px; font-weight: bold; display: inline-block; position: absolute; margin: 30px 0 -30px 0}
p { color:#000}
a {text-decoration: none}
a:hover { text-decoration: underline}

form {margin: 40px auto; width:440px; text-align: center}
label{ font-size:12px; color:#680;}
input, button { border:1px solid #DDD; padding: 5px; margin: 0 -1px;}
input { width: 270px}
button {cursor:pointer; padding:5px 13px; background: #FFF; color:#F60; }
button:hover {background:#F60; color:#FFF}
button[name=sign]:hover { background: #039}

.projects { width: 415px; margin: 20px auto; padding: 10px 0; opacity: 0.3}
.projects:hover { opacity: 1}
.projects th {padding:5px 5px 5px 0; border-bottom: 1px solid #000}
.projects td { border-bottom: 1px solid #EEF; padding: 5px 5px 5px 0}
.projects td:first-child {font-weight: bold}
.projects *{ text-align: left; font-size: 10px}            

.footer { position: fixed; left: 0; right: 0; bottom: 0; padding: 4px; text-align: center; background: #000; color:#FFF; opacity: 0.3}
.footer * { color:#FFF;}
.footer p {font-family: sans-serif, arial, verdana; font-size: 11px; font-weight: normal}

.status{position: fixed; bottom:0; right: 0; background: #999; color:#000; font-family: 'Oxygen Mono', monospace; padding: 3px 5px; font-size: 10px; font-weight: normal; font-style: italic; text-shadow:1px 1px 1px #DDD;}
.msg { position: fixed; top:185px; width: 400px; padding: 10px 20px; background:#fff6bf;color:#514721; box-shadow: 0 4px 10px #999; border:2px solid #ffd324}
.msg a {color:#514721;}